.editor-post-trash.components-button {
	color: color($alert-red shade(15%));
	border-color: color($alert-red shade(15%));
	justify-content: center;

	&:not(:disabled):not([aria-disabled="true"]):hover,
	&:not([aria-disabled="true"]):focus {
		color: color($alert-red shade(20%));
		border-color: color($alert-red shade(20%));
	}
}
